<joblist>
  <job>
    <description>Job triggered by Jenkins</description>
    <dispatch>
      <excludePrecedence>true</excludePrecedence>
      <keepgoing>false</keepgoing>
      <rankOrder>ascending</rankOrder>
      <successOnEmptyNodeFilter>false</successOnEmptyNodeFilter>
      <threadcount>1</threadcount>
    </dispatch>
    <executionEnabled>true</executionEnabled>
    <loglevel>INFO</loglevel>
    <name>job1</name>
    <nodeFilterEditable>false</nodeFilterEditable>
    <nodefilters>
      <filter>localhost</filter>
    </nodefilters>
    <nodesSelectedByDefault>true</nodesSelectedByDefault>
    <scheduleEnabled>true</scheduleEnabled>
    <sequence keepgoing='false' strategy='node-first'>
      <command>
        <description>listing</description>
        <exec>ls</exec>
      </command>
    </sequence>
  </job>
</joblist>
